

/* Document
   ========================================================================== */
/**
 * Modify all the buttons in the web-page
 */
.el-button{
  background-color: aquamarine;
  text-align: center;
}
.local_time {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 30px;
}
